

#map {
    height: 180px;
}

.row {
    max-width: inherit;
}

.app-header {
    background: #222;
    color: #fafafa;
    height: 50px;
}

.header-home {
    font-size: 24em;
}

.vertical-center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.block {
    display: block;
}

/* A fixed height is required by Leaflet for map */
#map-view {
    height: 320px;
}

.padding-15 {
  padding: 15px;
}


.color-swatch {
    float: left;
    width: 40px;
    height: 40px;
    margin: 0 5px 0 0;
    border-radius: 5px;
}

.color-picker-border {
    border: 5px solid black;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.brand-primary {
    background-color: #428bca;
}
.brand-success {
    background-color: #5cb85c;
}
.brand-warning {
    background-color: #f0ad4e;
}
.brand-danger {
    background-color: #d9534f;
}
.brand-info {
    background-color: #5bc0de;
}

.vertical-gap {
    height: 10px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.side-nav li.active {
  background-color: rgba(0, 64, 84, 0.05);
}

.fa-bold:hover {
    color: lightblue;
}

canvas, img {
            image-rendering: optimizeSpeed;
            image-rendering: -moz-crisp-edges;
            image-rendering: -webkit-optimize-contrast;
            image-rendering: optimize-contrast;
            -ms-interpolation-mode: nearest-neighbor;
}

#paintweb .paintweb_tabPanel_colormixer_inputs input:not([type="radio"]) {
    margin-top: -2px;
}

#paintweb .paintweb_strokeFillStyles {
    font-size: 0.9em;
}

#paintweb .paintweb_ckey_hex {
    width: 5em;
}

#paintweb .paintweb_placeholder {
    color: #000;
}

#paintweb p {
    font-size: 1em;
}

#paintweb .paintweb_tab {
    height: 65px;
}

#paintweb .paintweb_colormixer_controls {
    bottom: 2px;
    box-sizing: content-box;
    cursor: auto;
    right: 1px;

}


